.dhx_cal_container {
  width: 100% !important;
  height: calc(268px - 10px) !important;
  border: none;
  background-color: white;
}

.dhx_cal_header {
  @apply bg-[#2235581a] p-0 m-0 left-0 w-full  !important;
}

.dhx_cal_data {
  @apply overflow-y-auto !important;
}

.dhx_cal_date {
  @apply text-sm md:text-base !important;
}

.dhx_scale_time {
  @apply overflow-y-hidden !important;
}

/* dhx_resize_denied dhx_move_denied */
.dhx_cal_data {
  @apply hidden border-none !important;
}

.dhx_multi_day_icon,
.dhx_multi_day_icon_small {
  display: none !important;
}
