.dhx_cal_header {
  background-color: rgba(34, 53, 88, 0.1); /* Equivalent to #2235581a */
  padding: 0;
  margin: 0;
  left: 0;
  width: 100% !important;
}

.dhx_cal_data {
  display: none !important;
}

.dhx_cal_date {
  font-size: 0.875rem !important; /* Equivalent to text-sm */
}

@media (min-width: 768px) {
  .dhx_cal_date {
    font-size: 1rem !important; /* Equivalent to md:text-base */
  }
}

.dhx_scale_time {
  overflow-y: hidden !important;
}

.dhx_cal_container {
  width: 100% !important;
  height: calc(268px - 10px) !important;
  border: none;
  background-color: white;
}

.dhx_multi_day_icon,
.dhx_multi_day_icon_small {
  display: none !important;
}
